/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* globals */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  line-height: 1.7em;
  font-family: "Josefin Sans Light", sans-serif;
  letter-spacing: .05em;
  color: #828282;
}

h2 {
  font-size: 2.2rem;
  font-weight: lighter;
  line-height: 1.5em;
  margin: 0;
}

article,
figcaption,
figure,
footer,
header,
main,
nav,
section,
p {
    display: block;
}

p {
  margin: 1em 0;
  font-weight: lighter;
}

a {
  text-decoration: none;
  padding-bottom: .25rem;
}

.biz-name {
  color: #4EB8C2;
}

.scrolling-page {
  margin-left: 4.375rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.main-nav-item {
  font-weight: bolder;
}

li.sub-menu-item {
  font-weight: lighter;
}

.container-narrow {
  margin: 3.8125rem auto;
  width: 78%;
  overflow: auto;
}

.container-full-width {
  margin: 0;
  width: 100%;
  overflow: auto;
}

.col {
  float: left;
  display: block;
}

.col-1 {
  width: 90%;
  margin: .5rem;
}

.col-1-2 {
  width: 45%;
  margin: .5rem;
}

.col-1-4 {
  width: 23%;
  padding-right: .5rem;
  margin: .5rem;
}

/* side header title */

.site-title {
  background-color: #34347A;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 4.375rem;
  z-index: 20;
}

.site-title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(-50%) rotate(-90deg);
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: .1em;
  white-space: nowrap;
  padding: 0;
}

.site-title img {
  padding: 1.3em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

/* main nav */
/* main nav — general view */

.main-nav {
  position: fixed;
  top: 0;
  right: 4.375rem;
  height: 4.375rem;
  z-index: 10;
}

.main-nav li {
  display: block;
  padding: 1.5rem 1.5rem 1rem 1rem;
  margin: 0;
}

li.main-nav-item {
  color: #222;
  float: left;
}

li.main-nav-item:hover {
  color: #4EB8C2;
}

.main-nav-item a {
  color: inherit;
}

li.dropdown {
  padding-right: 2rem;
  position: relative;
}

li.dropdown:after {
  content: "";
  height: .7em;
  width: .7em;
  border-bottom: .15em solid #222;
  border-right: .15em solid #222;
  transform: rotate(45deg);
  position: absolute;
  right: .7rem;
  top: 1.75rem;
}

li:hover.dropdown:after {
  content: "";
  color: #4EB8C2;
  height: .7em;
  width: .7em;
  border-bottom: .15em solid #4EB8C2;
  border-right: .15em solid #4EB8C2;
  transform: rotate(45deg);
  position: absolute;
  right: .7rem;
  top: 1.75rem;
}

/* main nav — open nav button (top right) */

.open-nav-button {
  background-color: #333674;
  color: #4DB7C0;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  position: fixed;
  top: 0;
  right: 0;
}

.open-nav-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  margin: 0;
  cursor: pointer;
}

/* main nav — dropdown menu */

li.sub-menu-item {
  position: relative;
  line-height: 1.2;
  padding: .5em 2em;
  margin: 0;
}

li.sub-menu-item:before {
  content: "—";
  position: absolute;
  top: .5em;
  left: .5em;
  color: #fff;
}

.dropdown ul {
  background-color: #4EB8C2;
  overflow: auto;
  display: block;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 18rem;
  visibility: hidden;
  padding: 1em;
}

.sub-menu-item a {
  color: #fff;
}

.sub-menu-item a:hover {
  color: #323574;
}

li.dropdown:hover ul {
  visibility: visible;
}

/* banner image */

.banner-image img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.banner-image h2 {
  position: absolute;
  display: block;
  color: #222;
  top: 7rem;
  left: 15%;
  font-size: 2.6rem;
  font-weight: 300;
  width: 60%;
}

.scroll-down {
  display: block;
  background-size: contain;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 4rem;
}

.scroll-down a {
  color: #fff;
  padding: 0;
}

.moving-arrow {
  content: "";
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  height: 1rem;
  width: 1rem;
  margin: auto;
  animation-name: arrows;
  animation-duration: 1.5s;
  animation-timing-function: initial;
  animation-iteration-count: infinite;
  animation-delay: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}

@keyframes arrows {
  0% {
    transform: rotate(-45deg) translateY(0)
    translateX(0);
  }
  90% {
    transform: rotate(-45deg) translateY(1rem) translateX(-1rem);
    opacity: 90%;
  }
  100% {
    transform: rotate(-45deg) translateY(2rem) translateX(-2rem);
    opacity: 0;
  }
}

/* main content */
/* main content — general */

.main-content {
  color: #828282;
}

.main-content section {
  margin: 2.5rem 0;
}

.text {
  padding: 2rem 8%;
}

.main-content h2 {
  color: #4EB8C2;
  font-size: 2.375rem;
  font-weight: bolder;
}

.main-content h3 {
  color: #222;
  padding-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: bolder;
}

.main-content h4 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bolder;
}

.main-content a {
  color: #828282;
  text-decoration: none;
  border-bottom: 1px solid #4EB8C2;
}

.main-content a:visited {
  color: #828282;
  text-decoration: none;
  border-bottom: 1px solid #4EB8C2;
}

.main-content a:hover {
  color: #4EB8C2;
  border-bottom: 1px transparent;
}

/* main content — main gallery */

.main-gallery {
  text-align: center;
}

.col-1-3 {
  width: 31%;
}

.main-gallery .col {
  position: relative;
  padding: 0;
  margin: 1.5rem 1.5rem 0 0;
}

.gallery-title  {
  color: #34347A;
}

.main-gallery h5 {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.overlay h5  {
  color: #fff;
  z-index: 5;
  visibility: hidden;
}

.overlay:after {
  content: "";
  position: absolute;
  background-color: #4EB8C2;
  display: block;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  opacity: .9;
  transform: translate(-50%,-50%);
  z-index: 1;
  visibility: hidden;
}

.main-gallery a:hover .overlay h5,
.main-gallery a:hover .overlay:after {
  visibility: visible;
}

/* main content — logo gallery */

.logo-gallery {
  background-color: #222;
  padding: 7rem;
}

.logo-gallery h3 {
  color: #fff;
  display: block;
  padding: 0 0 5rem 0;
}

.logos {
  overflow: auto;
}

.logos img {
  padding: 1rem 2rem;
}


/* footer */
/* footer — general */

.page-footer {
  color: #fff;
  margin: 0;
}

.page-footer a:link {
  color: #828282;
}

.page-footer a:hover {
  color: #4DB7C0;
}

.page-footer h2,
.page-footer h3,
.page-footer h4 {
  color: #fff;
}

/* footer — instagram feed */

.instagram {
  background-color: #4DB7C0;
  text-align: center;
}

.social-media-title {
  position: relative;
}

.instagram a,
.instagram a:hover {
  color: #fff;
}

.social-media-title div {
  padding: 25% 0;
}

.instagram h5 {
  padding: 0;
  margin: 0;
}

.instagram i {
  color: #34347A;
  display: block;
  font-size: 2rem;
}

.page-footer .col-1-6 {
  margin: 0;
  padding: 0;
}

.col-1-6 {
  width: 16.66%;
  min-width: 1em;
}

/* footer — contact info */

.contact-info {
  background-color: #302F6C;
  font-size: 1.3rem;
}

.page-footer h3 {
  font-size: 1.8rem;
}

.contact-info li,
.contact-info p {
   font-style: normal;
 }

.contact-info a {
  border-bottom: 1px solid #4DB7C0;
}

.contact-info a:hover {
  border-bottom: 1px transparent;
}

/* footer — complete footer nav */

.complete-footer-nav {
  background-color: #222;
  font-size: .75rem;
}

.complete-footer-nav h4 {
  font-size: 1.2rem;
}

/* footer — footer of footers! */

.footer-footer {
  background-color: black;
  color: #828282;
  overflow: auto;
}

.footer-footer .text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.site-info {
  font-size: .6rem;
}

.footer-footer .social a {
  color: #4DB7C0;
  font-size: 1.4rem;
  padding-right: .9rem;
}

.footer-footer .social a:hover {
  color: #34347A;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
